.heroWrapper {
  background: url(../images/hero-images/applications.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* content */

.applicatonImage {
    width: 100%;
    aspect-ratio: 1;

}

