:root{
    --custom-orange-color: rgba(225, 107, 38, 1);
    

}
html{
    box-sizing: border-box;
    font-size: 100%;

}
*{
    scroll-behavior: smooth;
    box-sizing: inherit;



    
}
.body{
    font-size: 0.75rem !important;
    background-color: white !important;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0%;
    padding: 0%;
}
h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
}
p,span{
    color: rgba(119, 119, 119, 1);
;
}
a{
    text-decoration: none;
    color: rgba(119, 119, 119, 1);
;
}

main section{
    margin-bottom: 2rem;
}

/* hero */

.heroWrapper{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heroTitleWrapper{
    background: rgba(0, 0, 0, 0.567);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroTitle {
    font-size: 50px !important;
    font-weight: 600;
    color: white;
  
  }


  /* contents */

.contentWrapper{
    text-align: justify;
    /* width: 90%; */
}

@media (min-width:992px) {
    .contentWrapper{
        width: 85%;
    }
}

.eachContent{
    border-bottom: 2px solid rgba(154, 154, 154, 0.361);
  }
  
  .eachContent:last-child{
    border-bottom: none;
  }

/* applicatons */

.detailsToggler{
    color: var(--custom-orange-color) !important;
    cursor: pointer;

}


/* BROCHURES */

/* .brochuresPdf{
} */
.brochuresParagraph{
    /* font-size: 14px; */
    text-align: justify;
}

.brochures{
    transition: 0.8s;
    transform: scaleY(1);
    transform-origin: top;

}

.brochuresAnimation{
    transform: scaleY(0);

}
.directionArrowAnimation{
    transform: rotate(180deg);
}