.heroWrapper{
    background: url(../images/hero-images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* contents */

.contentWrapper{
    border-radius: 5px;
    background: white;
}

@media (min-width:992px) {
    .contentWrapper{
        width: 90%;
    }
}


/* adresses */

.addresses{
    border-radius: 5px;
    background: #f3f3f3;
}
.map{
    width: 100%;
    aspect-ratio: 2/1;
}