.heroWrapper {
  background: url(../images/hero-images/news.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.newsImage {
  width: 100%;
  aspect-ratio: 3/2;
}

.readMore{
    color: var(--custom-orange-color);
    font-weight: 700;

}

