.heroWrapper {
  background: url(../images/hero-images/services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.serviceImage {
  width: 100%;
  aspect-ratio: 1;
}

